{% extends 'base.html.twig' %}

{% block body %}
<div class="row justify-content-md-center">
    <div class="col-md-6">
        {{ form_start(registrationForm, {
            attr: { class: 'form-signin' }
        }) }}
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        {{ form_widget(registrationForm.username, {
            attr: { placeholder: 'Username' }
        }) }}<br>
        {{ form_widget(registrationForm.plainPassword, {
            attr: { placeholder: 'Password' }
        }) }}<br>

        <button class="btn btn-primary btn-block" type="submit">
            Register
        </button>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
