{% extends 'base.html.twig' %}

{% block body %}
    <div style="text-align: right">
        <a href="{{ path('category_elements', {id: category.id}) }}" class="btn btn-outline-primary">Back to {{ category.name }}</a>
    </div>
    <div class="card">
        <h5 class="card-header">{{ category.name }}</h5>
        <div class="card-body">
        {% if is_granted('ROLE_ADMIN') %}
            <h6 class="card-title"><b>hidden:</b> {{ category.hidden ? 'true' : 'false' }}</h6>
            <hr>
        {% endif %}

            {{ form_start(categoryForm, {"attr": {"novalidate": "novalidate"}}) }}
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Name</label>
                        {{ form_widget(categoryForm.name, {attr: { placeholder: 'Name'} }) }}
                    </div>
                    <div class="form-group">
                        <label><span style="color: red">*</span><a href="https://www.google.com/search?q=color+picker" target="_blank">Google Color Picker</a></label><br>
                        <label>Background (hex)</label>
                        {{ form_widget(categoryForm.backgroudColor, {attr: { placeholder: 'eg. FFC0CB'} }) }}
                    </div>
                    <div class="form-group">
                        <label>Box (rgb)</label>
                        {{ form_widget(categoryForm.colorElement, {attr: { placeholder: 'eg. 255,192,203'} }) }}
                    </div>
                    <div class="form-group">
                        <label>Sequence</label>
                        {{ form_widget(categoryForm.sequence) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(categoryForm.visibleIcons) }}
                    </div>
                    <div class="form-group">
                        <label>Default icon (<a href="https://material.io/resources/icons" target="_blank">List icons</a>)</label>
                        {{ form_widget(categoryForm.defaultElementIcon, {attr: {placeholder: 'eg. live_tv'}}) }}
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">
                            Save
                        </button>
                    </div>
                </div>
            {{ form_end(categoryForm) }}

            <hr>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removeModal">
                Remove
            </button>
            <!-- Modal -->
            <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="removeModalLabel">Remove Category</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to permanently remove this category?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <a href="{{ path('category_remove', {id: category.id}) }}" class="btn btn-danger">Yes, I'm sure</a>
                        </div>
                    </div>
                </div>
            </div>

            {% if is_granted('ROLE_ADMIN') %}
                {% if category.hidden %}
                    <a href="{{ path('category_set_public', {id: category.id}) }}" class="btn btn-primary">Public</a>
                {% else %}
                    <a href="{{ path('category_set_hidden', {id: category.id}) }}" class="btn btn-warning">Hidden</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}