{% extends 'base.html.twig' %}

{% block stylebody %}
    body {
        background: #{{ category.backgroudColor ?? 'FFFFFF' }}
    }

    .color-element {
        background-color:rgba({{ category.colorElement ?? '255,255,255' }},0.7);
        color: black;
    }
{% endblock %}

{% block category %}
    <nav class="navbar navbar-light color-element">
        <button class="navbar-toggler btn-block" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav" style="text-align: center; margin-top: 15px">
                {% for category in categories %}
                    <li class="nav-item">
                        <a href="{{ path('category_elements', {id: category.id}) }}" class="nav-link" style="color: black">{{ category.name }}</a>
                        <hr>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}

    <div class="row justify-content-md-center">
        <div class="col-lg-6 col-sm-12">
            <div class="card color-element">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center">Element</h5>
                    {{ form_start(elementForm, {"attr": {"novalidate": "novalidate"}}) }}
                    <p class="card-text">
                        {{ form_widget(elementForm.title, {attr: { placeholder: 'Name'} }) }}
                    </p>
                    <button class="btn btn-block btn-primary" type="submit">
                        Add
                    </button>
                    {{ form_end(elementForm) }}
                </div>
            </div>
        </div>
    </div><br>

    <div class="col-lg-12">
        <div class="btn-group" role="group" aria-label="Function buttons" style="margin-bottom: 15px">
{#        <div style="margin-bottom: 15px; text-align: center">#}
        <a href="{{ path('category_update', {id: category.id}) }}" class="btn btn-primary">Show Details</a>

            {% if randomElements %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#randomElementModal">
            Random Element
        </button>

{#            {% if is_granted('ROLE_ADMIN') %}#}
            <div class="btn-group" role="group">
                <button id="btnGroupDropSort" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort By
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDropSort" style="text-align: left; padding: 10px">
                    <ul class="list-group">
                        <li class="list-group-item">{{ knp_pagination_sortable(elements, 'Title', 'title') }}</li>
                        <li class="list-group-item">{{ knp_pagination_sortable(elements, 'Priority', 'priority') }}</li>
                        <li class="list-group-item">{{ knp_pagination_sortable(elements, 'Created', 'createdAt') }}</li>
                        <li class="list-group-item">{{ knp_pagination_sortable(elements, 'Mark', 'mark') }}</li>
                        <li class="list-group-item">{{ knp_pagination_sortable(elements, 'Rating', 'rating') }}</li>
                    </ul>
                </div>
            </div>
{#            {% endif %}#}
        </div>
        <!-- Modal -->
        <div class="modal fade" id="randomElementModal" tabindex="-1" role="dialog" aria-labelledby="randomElementModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        {% set randElement = random(randomElements) %}
                        <center>
                            <h2>{{ randElement.title }}</h2>
                            <p style="margin-top: 15px; color: dimgrey"><span style="color: red">*</span>To random a new item you have to refresh the page.</p>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a href="{{ path('element_details', {id: randElement.id}) }}" class="btn btn-primary">Go to details</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}


        <table class="table table-sm color-element">
            <tbody>
            {% for element in elements %}
                {% if element.hidden %}
                    <tr style="background: #bbc2c8">
                {% else %}
                    {% if element.status == 4 %}
                        <tr style="background: floralwhite">
                    {% elseif element.status == 5 %}
                        <tr style="background: #E6B7FF">
                    {% elseif element.status == 6 %}
                        <tr style="background: lightgreen">
                    {% endif %}
                {% endif %}
                    {% if category.visibleIcons %}
                    <td style="padding-right: 0; vertical-align: middle; text-align: left;">
                        {% if element.icon %}
                            <img src="{{ element.icon }}" width="30" alt="icon">
                        {% else %}
                            <i class="material-icons">{{ category.defaultElementIcon ? category.defaultElementIcon : 'photo'}}</i>
                        {% endif %}
                    </td>
                    {% endif %}
                    <td>
                        {% if element.priority == 1 %}
                            <span class="badge badge-info"> </span>
                        {% elseif element.priority == 2 %}
                            <span class="badge badge-warning"> </span>
                        {% elseif element.priority == 3 %}
                            <span class="badge badge-danger"> </span>
                        {% endif %}
                        {{ element.title }}
                    </td>
                    <td>
                        <a href="{{ path('element_details', {id: element.id}) }}" style="float: right" class="btn btn-info">Show</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ knp_pagination_render(elements) }}
    </div>

{% endblock %}
