{% extends 'base.html.twig' %}

{% block body %}
    <div style="text-align: right">
        <a href="{{ path('category_index') }}" class="btn btn-primary">New Category</a>
    </div>

    <div class="row" style="margin-top: 15px">
        {% for category in categories %}
                <div class="col-md-4">
                    {% if category.hidden %}
                        <div class="card" style="margin-bottom: 15px; background: #bbc2c8;">
                    {% else %}
                        <div class="card" style="margin-bottom: 15px">
                    {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ category.name }}<span class="badge badge-light" style="float:right">{{ category.sequence }}</span></h5>
                            <p class="card-text" style="text-align: center">
                                Go to list {{ category.name }}
                                <div style="width:100%; height: 5px; background-color: #{{ category.backgroudColor ?? 'FFFFFF' }};"></div>
                            </p>
                            <a href="{{ path('category_elements', {id: category.id}) }}" class="btn btn-light btn-block">Show</a>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>

    {{ knp_pagination_render(categories) }}

{% endblock %}