{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-md-center">
        <div class="col-lg-6 col-xs-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center">Category</h5>
                    {{ form_start(categoryForm, {"attr": {"novalidate": "novalidate"}}) }}
                    <p class="card-text">
                        {{ form_widget(categoryForm.name, {attr: { placeholder: 'Name'} }) }}
                        {{ form_widget(categoryForm.hidden) }}
                        <button class="btn btn-block btn-primary" type="submit">
                            Add
                        </button>
                    </p>
                    {{ form_end(categoryForm) }}
                </div>
            </div>
        </div>
    </div><br>

    <div class="table-responsive">
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">count</th>
            <th scope="col">options</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            {% if category.hidden %}
                <tr style="background: #bbc2c8">
            {% else %}
                <tr>
            {% endif %}
                <td>{{ category.name }}</td>
                <td> {{ category.countElements }} </td>
                <td>
                    <div class="btn-group dropleft">
                        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            …
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a href="{{ path('category_update', {id: category.id}) }}" class="dropdown-item">Edit</a>
                            <a href="{{ path('category_remove', {id: category.id}) }}" class="dropdown-item">Remove</a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {{ knp_pagination_render(categories) }}
    </div>
{% endblock %}