{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-md-center">
        <div class="col-md-6 col-xs-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center">Category</h5>
                    {{ form_start(categoryForm, {"attr": {"novalidate": "novalidate"}}) }}
                    <p class="card-text">
                        {{ form_widget(categoryForm.name, {attr: { placeholder: 'Name'} }) }}
                        <br>
                        <a class="btn btn-light" data-toggle="collapse" href="#moreSettings" role="button" aria-expanded="false" aria-controls="moreSettings">
                            More
                        </a>
                        <div class="collapse" id="moreSettings">
                            <div class="card card-body">

                                <div class="form-group">
                                    <label>Background (hex)</label>
                                    {{ form_widget(categoryForm.backgroudColor, {attr: { placeholder: 'eg. FFC0CB'} }) }}
                                </div>
                                <div class="form-group">
                                    <label>Box (rgb)</label>
                                    {{ form_widget(categoryForm.colorElement, {attr: { placeholder: 'eg. 255,192,203'} }) }}
                                </div>
{#                                {{ form_widget(categoryForm.sequence, {attr: {style: 'display: none'}}) }}#}
                                <div class="form-group">
                                    {{ form_widget(categoryForm.visibleIcons) }}
                                </div>
{#                                {{ form_widget(categoryForm.defaultElementIcon, {attr: {style: 'display: none'}}) }}#}

                            </div>
                        </div>
                        <hr>
                        <button class="btn btn-block btn-primary" type="submit">
                            Save
                        </button>
                    </p>
                    {{ form_end(categoryForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}