{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-md-center">
    <div class="col-md-9">
        <div class="card">
            <h5 class="card-header" style="text-align: center">{{ element.title }}</h5>
            <div class="card-body">
                {% if is_granted('ROLE_ADMIN') %}
                    {{ form_start(extendElementForm, {"attr": {"novalidate": "novalidate"}}) }}
                    <p class="card-text">
                        <label>createdAt</label>
                        {{ form_widget(extendElementForm.createdAt) }}
                    </p>
                    <p class="card-text">
                        <label>updatedAt</label>
                        {{ form_widget(extendElementForm.updatedAt) }}
                    </p>
                    <p class="card-text">
                        <button class="btn btn-info" type="submit">
                            Save
                        </button>
                    </p>
                    {{ form_end(extendElementForm) }}
                    <hr>
                {% endif %}
                {{ form_start(elementForm, {"attr": {"novalidate": "novalidate"}}) }}
                <p class="card-text">
                    <label>title</label>
                    {{ form_widget(elementForm.title) }}
                </p>
                <p class="card-text">
                    <label>mark</label>
                    {{ form_widget(elementForm.mark) }}
                </p>
                <p class="card-text">
                    <label>priority</label>
                    {{ form_widget(elementForm.priority) }}
                </p>
                <p class="card-text">
                    <label>description</label>
                    {{ form_widget(elementForm.description, {attr: {rows: 3}}) }}
                </p>
                <p class="card-text">
                    <label>icon</label>
                    {{ form_widget(elementForm.icon, {attr: { placeholder: 'http://icons.png'} }) }}
                </p>
                <p class="card-text">
                    <button class="btn btn-info" type="submit">
                        Save
                    </button>
                </p>
                {{ form_end(elementForm) }}
                </p>
            </div>
        </div>
    </div>
    </div>
{% endblock %}