{% extends 'base.html.twig' %}

{% block body %}

    <div style="text-align: right">
        <a href="{{ path('category_elements', {id: element.category.id}) }}" class="btn btn-outline-primary">Back to {{ element.category.name }}</a>
    </div>

    <div class="card">
        <h5 class="card-header"
            {% if element.status == 4 %}
                style="background: floralwhite"
            {% elseif element.status == 5 %}
                style="background: #E6B7FF"
            {% elseif element.status == 6 %}
                style="background: yellowgreen"
            {% endif %}
            >{{ element.title }} {% if element.updatedAt %}({{ element.updatedAt|date('d.m.Y') }}){% endif %}
        </h5>
        <div class="card-body">
            {% if is_granted('ROLE_ADMIN') %}
                <h6 class="card-title"><b>hidden:</b> {{ element.hidden ? 'true' : 'false' }}</h6>
                <h6 class="card-title"><b>status:</b>
                    {% if element.status == 4 %}
                        BOX
                    {% elseif element.status == 5 %}
                        PROGRESS
                    {% elseif element.status == 6 %}
                        COMPLETE
                    {% endif %}
                </h6>
                <hr>
            {% endif %}

            {% if element.icon %}
                <img src="{{ element.icon }}" width="200" alt="icon" style="margin-bottom: 15px">
            {% else %}
                <h6 class="card-title"><b>icon:</b> none</h6>
            {% endif %}

            <h6 class="card-title"><b>mark:</b> {{ element.mark }}</h6>

            <h6 class="card-title"><b>priority:</b>
                {% if element.priority == 1 %}
                    LOW
                {% elseif element.priority == 2 %}
                    NORMAL
                {% elseif element.priority == 3 %}
                    HIGH
                {% endif %}
            </h6>

            <b>description</b>
            <p class="card-text">{{ element.description ? element.description|raw : 'no description' }}</p>

            {% if element.status == 6 %}
                <h6 class="card-title" style="margin-bottom: 15px">
                    <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#ratingModal" style="margin-bottom: 10px;">
                        <b>Rating</b>
                    </button><br>

                    {% if element.rating and element.rating >= 1 %}
                        {% for i in 1..element.rating %}
                        <span class="material-icons" style="color: gold">star_rate</span>
                        {% endfor %}
                    {% endif %}
                </h6>

                <div class="modal fade" id="ratingModal" tabindex="-1" role="dialog" aria-labelledby="ratingModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <center>
                                    <p>How would you rate "{{ element.title }}"?</p>
                                    {{ form_start(ratingForm, {"attr": {"novalidate": "novalidate"}}) }}
                                    <p class="card-text">
                                        {{ form_widget(ratingForm.rating) }}
                                    </p>
                                    <p class="card-text">
                                        <button class="btn btn-warning btn-block" type="submit">
                                            Rate
                                        </button>
                                    </p>
                                    {{ form_end(ratingForm) }}
                                    <p class="card-text">
                                        <a href="{{ path('element_remove_rating', {id: element.id}) }}" class="btn btn-link">Remove Rating</a>
                                    </p>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <a href="{{ path('element_update', {id: element.id}) }}" class="btn btn-info">Edit</a>
            {% if element.done %}
                <a href="{{ path('element_not_done', {id: element.id}) }}" class="btn btn-secondary">Not yet</a>
            {% else %}
                <a href="{{ path('element_done', {id: element.id}) }}" class="btn btn-success">Done</a>
            {% endif %}

            <hr>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removeModal">
                Remove
            </button>
            <!-- Modal -->
            <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="removeModalLabel">Remove Element</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to permanently remove this element?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <a href="{{ path('element_remove', {id: element.id}) }}" class="btn btn-danger">Yes, I'm sure</a>
                        </div>
                    </div>
                </div>
            </div>

            {% if is_granted('ROLE_ADMIN') %}
                <hr>
                {% if element.hidden %}
                    <a href="{{ path('element_set_public', {id: element.id}) }}" class="btn btn-primary">Public</a>
                {% else %}
                    <a href="{{ path('element_set_hidden', {id: element.id}) }}" class="btn btn-warning">Hidden</a>
                {% endif %}
                <a href="{{ path('element_box_status', {id: element.id}) }}" class="btn btn-primary">Set Box Status</a>
            {% endif %}
        </div>
    </div>

{% endblock %}
