{% extends 'base.html.twig' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col">Created</th>
        </tr>
        </thead>
        <tbody>
        {% set id_tmp = 0 %}
        {% for element in elements %}
            {% set id_tmp = id_tmp + 1 %}
            <tr>
                <td>
                    {{ id_tmp }}
                    {% if element.priority == 1 %}
                        <span class="badge badge-info"> </span>
                    {% elseif element.priority == 2 %}
                        <span class="badge badge-warning"> </span>
                    {% elseif element.priority == 3 %}
                        <span class="badge badge-danger"> </span>
                    {% endif %}
                </td>
                <td><a href="{{ path('element_details', {id: element.id}) }}">{{ element.title }}</a></td>
                <td><a href="{{ path('category_elements', {id: element.category.id}) }}">{{ element.category.name }}</a></td>
                <td>{{ element.createdAt|date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}