<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="flussduffic, flussduffic.heroku, flussduffic.herokuapp, flussduffic.herokuapp.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Flussduffic</title>
    <style>
        {% block stylebody %} {% endblock %}
    </style>
</head>
<body>
{% if is_granted('ROLE_USER') %}
    <div style="padding-top: 0.1cm; padding-bottom: 0.1cm; text-align: center; background-color:rgba(255,255,255,0.8);">
        <a href="{{ path('homepage') }}"> <img src="{{ asset('flussduffic-logo.png') }}" width="200" alt="flussduffic"> </a>

        <div class="btn-group" style="margin-left: 0.3cm">
            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ app.user }}
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{{ path('user_settings', {id: app.user.id}) }}">Profile</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="dropdown-item" href="{{ path('user_list') }}">Users</a>
                {% endif %}
                <a class="dropdown-item" href="{{ path('element_last_list') }}">Last Elements</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('app_logout') }}">logout</a>
            </div>
        </div>

    </div>
{% endif %}

<div class="row" style="margin-top: 10px;">
    <div class="col-lg-2 col-md-2" style="margin-top: 10px; margin-bottom: 20px;">
        {% block category %}{% endblock %}
    </div>

    <div class="col-lg-9 col-md-9" style="margin-top: 10px">
        {% block content %}{% endblock %}
    </div>
</div>

<div class="container">
    <div class="col-lg-12 col-md-12, col-xs-12">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {% block body %}{% endblock %}
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>