{% extends 'base.html.twig' %}

{% block body %}

    <div class="row justify-content-md-center">
        <div class="col-md-9">
            <div class="card">
                <h5 class="card-header">Change password</h5>
                <div class="card-body">
                    <form method="post">
                        <p class="card-text">
                            <label for="inputCurrentPassword">Current password</label>
                            <input type="password" name="current_password" id="inputCurrentPassword" class="form-control" required autofocus>
                        </p>
                        <p class="card-text">
                            <label for="inputNewPassword">New password</label>
                            <input type="password" name="new_password" id="inputNewPassword" class="form-control" required>
                        </p>
                        <p class="card-text">
                            <button class="btn btn-primary" type="submit">
                                Save
                            </button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}