{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('app_register') }}" class="btn btn-primary btn-block">New user</a><br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">enable</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% if user.username != app.user %}
            <tr>
                <td>{{ user.username }}</td>
                <td>
                    {% if user.enable %}
                        <span style="color: green">ACTIVE</span>
                    {% else %}
                        <span style="color: red">INACTIVE</span>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('user_details', {id: user.id}) }}" class="btn btn-outline-dark">...</a>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}