{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-md-center">
        <div class="col-md-7">
            <div class="card">
                <div class="card-header">
                    <span style="font-size: 16pt">{{ user.username }}</span>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        last login: {{ user.lastLogin|date('d.m.Y (H:i)') }} {{ user.lastLogin ? user.lastLogin|ago }}
                    </p>
                    <hr>
                    <form method="post">
                        <p class="card-text">
                            <label for="inputPassword">Password</label>
                            <input type="password" name="new_password" id="inputPassword" class="form-control" required>
                        </p>
                        <p class="card-text">
                            <button class="btn btn-warning" type="submit">
                                Reset password
                            </button>
                        </p>
                    </form>
                    <hr>
                    {% if user.enable == true %}
                        <a href="{{ path('user_deactive', {id: user.id}) }}" class="btn btn-danger">Deactivate account</a>
                    {% else %}
                        <a href="{{ path('user_restore', {id: user.id}) }}" class="btn btn-info">Restore account</a>
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}