{% extends 'base.html.twig' %}

{% block body %}

        <div class="row justify-content-md-center">
        <div class="col-md-9">
                <div class="card">
                        <div class="card-header">Profile</div>
                        <div class="card-body">
                                {{ form_start(userSettingsForm) }}
                                {{ form_widget(userSettingsForm.username) }}
                                <br>
                                {{ form_widget(userSettingsForm.submit, {label: 'Save'}) }}
                                {{ form_end(userSettingsForm) }}
                        </div>
                        <div class="card-footer bg-transparent">
                                <a href="{{ path('user_change_password', {id: app.user.id}) }}">Change password</a>
                        </div>
                </div>
        </div>
        </div>

{% endblock %}